@model IEnumerable<DATN_OnlineBookStore.Models.TblTheloai>

@{
    ViewData["Title"] = "viewCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>viewCategory</h1>

<p>
    <a asp-action="addProductCategory">Thêm thể loại mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.STentheloai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIDanhmucId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.STentheloai)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FkIDanhmucId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkITheloaiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkITheloaiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkITheloaiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
