@{
    ViewData["Title"] = "Home Page";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DATN_OnlineBookStore.Models.TblSanpham>
<body>
    <main class="main-wrapper">
        <!-- Start Slider Area -->
        <div class="axil-main-slider-area main-slider-style-2 main-slider-style-8">
            <div class="container">
                <div class="slider-offset-left">
                    <div class="row row--20">
                        <div class="col-lg-9">
                            <div class="slider-box-wrap">
                                <div class="slider-activation-one axil-slick-dots">
                                    <div class="single-slide slick-slide">
                                        <div class="main-slider-content">
                                            <span class="subtitle"><i class="fal fa-badge-percent"></i> Mega Deal</span>
                                            <h1 class="title">Giảm đến 50%</h1>
                                            <div class="shop-btn">
                                                <a href="@Url.Action("viewProductDetails", "Product")" class="axil-btn">Mua ngay <i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="main-slider-thumb">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/g/b/gbkc.jpg" alt="Product">
                                        </div>
                                    </div>
                                    <div class="single-slide slick-slide">
                                        <div class="main-slider-content">
                                            <span class="subtitle"><i class="fal fa-fire"></i> Hot Deal</span>
                                            <h1 class="title">Voucher giảm 40%</h1>
                                            <div class="shop-btn">
                                                <a href="@Url.Action("viewProductDetails", "Product")" class="axil-btn">Mua ngay <i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="main-slider-thumb">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/c/_/c_a-h_ng-d_ng-c_-ma-thu_t-polaris...b_a_1.jpg" alt="Product">
                                        </div>
                                    </div>
                                    <div class="single-slide slick-slide">
                                        <div class="main-slider-content">
                                            <span class="subtitle"><i class="far fa-mobile"></i> Smartphone</span>
                                            <h1 class="title">Up to 60% off Voucher</h1>
                                            <div class="shop-btn">
                                                <a href="@Url.Action("viewProductDetails", "Product")" class="axil-btn">Mua ngay <i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="main-slider-thumb">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/q/u/qu_b_n_th_ng_4.png" alt="Product">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="slider-product-box">
                                <div class="product-thumb">
                                    <a href="single-product.html">
                                        <img src="https://cdn0.fahasa.com/media/catalog/product/8/9/8936201851726-mau1-_1_.jpg" alt="Product">
                                    </a>
                                </div>
                                <h6 class="title"><a href="single-product.html">Tập Sinh Viên</a></h6>
                                <span class="price">44.000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="axil-best-seller-product-area bg-color-white axil-section-gap pt--0">
            <div class="container">
                @if (ViewBag.Recommendations != null && ViewBag.Recommendations.Count > 0)
                {
                    <div class="product-area pb--50">
                        <div class="section-title-wrapper">
                            <span class="title-highlighter highlighter-primary">
                                <i class="far fa-shopping-basket"></i> This Month
                            </span>
                            <h2 class="title">Gợi ý cho bạn</h2>
                        </div>
                        <div class="new-arrivals-product-activation-2 slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide product-slide-mobile">
                            @foreach (var item in ViewBag.Recommendations)
                            {
                                <div class="slick-single-layout">
                                    <div class="axil-product product-style-three">
                                        <div class="thumbnail">
                                            <a href="@Url.Action("viewProductDetails", "Product" , new { id=item.PkISanphamId })">
                                                <img data-sal="fade" data-sal-delay="100" data-sal-duration="1500" src="@item.SHinhanh" alt="@item.STensanpham">
                                            </a>
                                            <div class="product-hover-action">
                                                <ul class="cart-action">
                                                    <li class="wishlist">
                                                        <a href="wishlist.html">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    </li>
                                                    <li class="select-option">
                                                    </li>
                                                    <li class="quickview">
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="inner">
                                                <div class="product-rating">
                                                    @if (ViewBag.ProductRatings != null && ViewBag.ProductRatings.ContainsKey(item.PkISanphamId))
                                                    {
                                                        var averageRating = ViewBag.ProductRatings[item.PkISanphamId];
                                                        <span class="icon">
                                                            @for (int i = 0; i < 5; i++)
                                                            {
                                                                <i class="fa @(i < averageRating ? "fa-star" : "fa-star-o")"></i>
                                                            }
                                                        </span>
                                                    }
                                                </div>
                                                <h5 class="title">
                                                    <a href="@Url.Action("viewProductDetails", "Product" , new { id=item.PkISanphamId })">@item.STensanpham</a>
                                                </h5>
                                                <div class="product-price-variant">
                                                    <span class="price current-price">@item.FGiaban</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="axil-poster-countdown">
            <div class="container">
                <div class="poster-countdown-wrap bg-lighter">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="poster-countdown-content">
                                <div class="section-title-wrapper">
                                    <span class="title-highlighter highlighter-secondary"> <i class="fal fa-headphones-alt"></i> Don’t Miss!!</span>
                                    <h2 class="title">Enhance Your Music Experience</h2>
                                </div>
                                <div class="poster-countdown countdown mb--40"></div>
                                <a href="#" class="axil-btn btn-bg-primary">Check it Out!</a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="poster-countdown-thumbnail">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/c/o/cover-1438-1-7852_1.jpg" alt="Poster Product">
                                <div class="music-singnal">
                                    <div class="item-circle circle-1"></div>
                                    <div class="item-circle circle-2"></div>
                                    <div class="item-circle circle-3"></div>
                                    <div class="item-circle circle-4"></div>
                                    <div class="item-circle circle-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Poster Countdown Area  -->
        <!-- Start Expolre Product Area  -->
        <div class="axil-product-area bg-color-white axil-section-gap">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="fal fa-store"></i> Sản phẩm của chúng tôi</span>
                    <h2 class="title">Khám phá sản phẩm</h2>
                </div>
                <div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                    <div class="slick-single-layout">
                        <div class="row row--15">
                            @foreach (var item in Model.Take(8))
                            {
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                                    <div class="axil-product product-style-one">
                                        <div class="thumbnail">
                                            <a href="@Url.Action("viewProductDetails", "Product" , new { id=item.PkISanphamId })">
                                                <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" class="main-img" src="@item.SHinhanh" alt="@item.STensanpham">
                                                <img class="hover-img" src="@item.SHinhanh" alt="@item.STensanpham">
                                            </a>
                                            <div class="product-hover-action">
                                                <ul class="cart-action">
                                                    <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                                                    <li class="select-option">
                                                    <li class="select-option">
                                                    </li>
                                                    <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="inner">
                                                <div class="product-rating">
                                                    @if (ViewBag.ProductRatings != null && ViewBag.ProductRatings.ContainsKey(item.PkISanphamId))
                                                    {
                                                        var averageRating = ViewBag.ProductRatings[item.PkISanphamId];
                                                        <span class="icon">
                                                            @for (int i = 0; i < 5; i++)
                                                            {
                                                                <i class="fa @(i < averageRating ? "fa-star" : "fa-star-o")"></i>
                                                            }
                                                        </span>
                                                    }
                                                </div>
                                                <h5 class="title"><a href="@Url.Action("viewProductDetails", "Product" , new { id=item.PkISanphamId })">@item.STensanpham</a></h5>
                                                <div class="product-price-variant">
                                                    <span class="price current-price">@item.FGiaban</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center mt--20 mt_sm--0">
                        <a href="shop.html" class="axil-btn btn-bg-lighter btn-load-more">Xem tất cả sản phẩm</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="cart-dropdown" id="cart-dropdown">
        <div class="cart-content-wrap">
            <div class="cart-header">
                <h2 class="header-title">Cart review</h2>
                <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
            </div>
            <div class="cart-body">
                <ul class="cart-item-list">
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product.html"><img src="assets/images/product/electric/product-01.png" alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number">(64)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product-3.html">Wireless PS Handler</a></h3>
                            <div class="item-price"><span class="currency-symbol">$</span>155.00</div>
                            <div class="pro-qty item-quantity">
                                <input type="number" class="quantity-input" value="15">
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product-2.html"><img src="assets/images/product/electric/product-02.png" alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number">(4)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product-2.html">Gradient Light Keyboard</a></h3>
                            <div class="item-price"><span class="currency-symbol">$</span>255.00</div>
                            <div class="pro-qty item-quantity">
                                <input type="number" class="quantity-input" value="5">
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product-3.html"><img src="assets/images/product/electric/product-03.png" alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number">(6)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product.html">HD CC Camera</a></h3>
                            <div class="item-price"><span class="currency-symbol">$</span>200.00</div>
                            <div class="pro-qty item-quantity">
                                <input type="number" class="quantity-input" value="100">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cart-footer">
                <h3 class="cart-subtotal">
                    <span class="subtotal-title">Subtotal:</span>
                    <span class="subtotal-amount">$610.00</span>
                </h3>
                <div class="group-btn">
                    <a href="cart.html" class="axil-btn btn-bg-primary viewcart-btn">View Cart</a>
                    <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">Checkout</a>
                </div>
            </div>
        </div>
    </div>

</body>