@model TblTaikhoan

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eTrade || Đăng ký</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/vendor/base.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">

</head>

<body>
    <div class="axil-signin-area">

        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <a href="index.html" class="site-logo"><img src="/assets/images/logo/logo.png" alt="logo"></a>
                </div>
                <div class="col-md-6">
                    <div class="singin-header-btn">
                        <p>Bạn đã sẵn sàng?</p>
                        <a href="@Url.Action("Login", "Account")" class="axil-btn btn-bg-secondary sign-up-btn">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--10">
                    <h3 class="title">Chúng tôi cung cấp sản phẩm tốt nhất</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Tôi là người mới</h3>
                        <p class="b2 mb--55">Nhập thông tin chi tiết của bạn dưới đây</p>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "singin-form" }))
                        {
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                @Html.Label("email", "Email")
                                @Html.TextBox("email", null, new { @class = "form-control", placeholder = "Email", required = "required" })
                                @Html.ValidationMessageFor(model => model.SEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.Label("password", "Mật khẩu")
                                @Html.Password("password", null, new { @class = "form-control", placeholder = "Mật khẩu", required = "required" })
                            </div>
                            <div class="form-group">
                                @Html.Label("firstName", "Họ")
                                @Html.TextBox("firstName", null, new { @class = "form-control", placeholder = "Tên", required = "required" })
                            </div>
                            <div class="form-group">
                                @Html.Label("lastName", "Tên")
                                @Html.TextBox("lastName", null, new { @class = "form-control", placeholder = "Họ", required = "required" })
                            </div>
                            <div class="form-group">
                                @Html.Label("phone", "Số điện thoại")
                                @Html.TextBox("phone", null, new { @class = "form-control", placeholder = "Số điện thoại" })
                            </div>
                            <div class="form-group">
                                @Html.Label("birthDate", "Ngày sinh")
                                @Html.TextBox("birthDate", null, new { @class = "form-control", type = "date" })
                            </div>
                            <div class="form-group">
                                <label>Giới tính:</label>
                                <div>
                                    <span>
                                        @Html.RadioButton("gender", "1", new { style = "opacity: 1 !important; position: static !important;width:9%" })
                                    </span>
                                    <span>
                                        Nam
                                    </span>
                                </div>
                                <div>
                                    <span style="opacity: 1 !important; position: static !important;">
                                        @Html.RadioButton("gender", "0", new { style = "opacity: 1 !important; position: static !important; width:9%" })
                                    </span>
                                    <span>Nữ</span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("job", "Nghề nghiệp")
                                @Html.TextBox("job", null, new { @class = "form-control", placeholder = "Nghề nghiệp", required = "required" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Đăng ký</button>
                            </div>
                        }
                        @section Scripts {
                            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="assets/js/vendor/jquery-ui.min.js"></script>
    <script src="assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="assets/js/vendor/counterup.js"></script>
    <script src="assets/js/vendor/waypoints.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>
</html>
