@model List<OrderViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid" style="margin:10%">
        <div class="row">
            <main role="main" class="col-md-9">
                <h1 class="order-header">Thông tin đơn hàng</h1>
                @foreach (var order in Model)
                {
                    <div class="order-container">
                        <div class="order-summary">
                            <p>Ngày mua: @order.OrderDate.ToString("yyyy-MM-dd")</p>
                        <div class="table-responsive">
                            <table class="table axil-product-table axil-cart-table mb--40">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Tổng tiền</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Đánh giá</th>
                                        <th scope="col">Chi tiết đơn hàng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in order.Items)
                                    {
                                        <tr>
                                            <td product-title>@item.ProductName</td>
                                            <td product-title>@item.Quantity</td>
                                            <td product-title>@item.Price</td>
                                            <td product-title>@item.Total</td>
                                            <td>@order.OrderStatus</td>
                                            <td product-title>
                                                @if (item.IsReviewed)
                                                {
                                                    <a href="@Url.Action("viewOrderList", "Review")">Xem danh sách đánh giá</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("CreateReview", "Review", new { orderItemId = item.PkICtdonhangId })">Đánh giá sản phẩm</a>
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("viewOrderDetails", "Cart", new { orderId = order.OrderId })">Xem chi tiết</a>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="order-total-amount total" colspan="3">Tổng tiền:</td>
                                        <td class="total">@order.TotalPrice</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            
                        </div>
                    </div>
                }
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
